asgiref==3.11.1
Django==6.0.6
django-autoslug==1.9.9
django-cities-light==3.11
django-jazzmin==3.0.5
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
pillow==12.3.0
progressbar2==4.5.0
psutil==7.2.2
psycopg2-binary==2.9.12
python-utils==4.0.0
pytz==2026.2
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
Unidecode==1.4.0
